@import "./colors_ligth.scss";
@import "./colors_dark.scss";
/* src/styles/tailwind.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.app {
  transition: all 0.15s;
  scroll-behavior: smooth;
}
.section_page {
  min-height: 100vh;
  display: grid;
  // place-items: center;
}
.dark {
  background-color: $main;
  color: $text;
}
