@import "./colors_ligth.scss";
@import "./colors_dark.scss";

.separator {
  height: 10vh;
}
.home {
  height: 100%;
}
.home_main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
  }
}
.home_imgContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home_title {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
  font-size: 1.4rem;
}
.home_joacoImg {
  width: 100%;
  height: 90%;
  object-fit: contain;
  filter: drop-shadow(1px 0px 0px rgba(0, 0, 0, 0.1));

  position: absolute;
  bottom: 0;
}

@keyframes applyShadow {
  to {
    filter: drop-shadow(
      -20px -10px 15px rgba(0, 0, 0, 1)
    ); /* Sombras deseadas */
  }
}

.R {
  color: #cecece;
  transform: scale(1.2);
}
.home_reset {
  font-size: 150px;
  font-weight: 100;
  letter-spacing: 3px;
}
