@import "./colors_ligth.scss";
@import "./colors_dark.scss";

.light {
  color: $text_light;
  // background-color: $main_light;
}
.navbar {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0; /* Quita la línea "left: 50%;" */
  right: 0; /* Agrega esta línea */
  margin: auto; /* Agrega esta línea para centrar horizontalmente */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 10vh;
  gap: 10rem;
  // outline: 1px solid #000;
  transition: background 0.3s;
  background-color: unset;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
}
.navbar.scrolling {
  background-color: rgba(0, 0, 0, 0.95);
  color: $text;
}

.logoNav {
  height: 50%;
  // width: 100px;
  margin: 0;
}
.nav_items {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 1.3em;
}
.nav_items p {
  transition: all 0.15s;
  cursor: pointer;
}
.nav_items p:hover {
  transform: scale(1.1);
}
.nav_redes {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 1.3em;
}

.nav_redes a {
  transition: all 0.3s;
  color: $text;
  cursor: pointer;
}

.nav_redes a:hover {
  color: $text;
  transform: scale(1.2);
}
.switchTheme-container {
  position: absolute;
  right: 0;
}
