table {
  width: 80%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 1em auto;
  font-family: "Montserrat";
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #000;
}

tr:nth-child(even) {
  background-color: #555555;
}

tr:hover {
  background-color: #444242;
}
