.turno_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  width: 100%;
  margin: auto;
  // padding: 1em;
}
.turno_card_container span {
  padding: 10px 0;
  font-size: 14px;
  padding-left: 10px;
  outline: 1px solid #3d3c3c;
}
