.slider {
    position: relative;
    overflow: hidden;
  }
  
  .slide-wrapper {
    display: flex;
    transition: transform 0.5s ease; /* Agregamos una transición para el cambio suave */
  }
  
  .slide {
    min-width: 100%;
  }

  
