.slider {
    position: relative;
    overflow: hidden;
  }
  
  .slide-wrapper {
    display: flex;
    transition: transform 0.1s ease; /* Agregamos una transición para el cambio suave */
  }
  


  
